@model List<TareasApp.Models.Tarea>


<div class="container">
	<div class="col-md-6 offset-md-2">
		<table class="table">
			<thead>
				<tr>
					<th>Tareas</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				@foreach (var tarea in Model)
				{
					<tr>
						<td>@Html.DisplayFor(m => tarea.TareaName)</td>
						<td>
							<div class="btn-group btn-group-sm">
								<a asp-action="Edit" asp-controller="Tareas" class="btn btn-primary" asp-route-id="@tarea.Id" type="button">Editar</a>
								<form asp-action="Delete" asp-route-id="@tarea.Id">
									<button type="submit" class="btn btn-danger" onclick="return confirm('Estas seguro que deseas eliminar esta tarea?')">Eliminar</button>
								</form>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>


